<a href="https://colab.research.google.com/github/Sadikshyaghimire/Test-repository/blob/master/DSA_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Your Name: Sadikshya Ghimire
# Student ID: 23140745

# Exercise: Lists

Create a list in Python, for example:<br>

`x = [‘a’, 25, ‘dog’, 8.43]`

Then find the correct Python code for operations supported by lists. For example:

`[] or list()` creates an empty list,<br>
`my_list[i]` gets the value at index i,<br>
`my_list[i] = y` sets the value at index i to be y.



**1.   Using Using square brackets `[]`:**<br>
You can create a list by enclosing a comma-separated sequence of values in square brackets.

In [ ]:
x = ['a', 25, 'dog', 8.43]
x

['a', 25, 'dog', 8.43]

In [ ]:
print(x)

['a', 25, 'dog', 8.43]

In [ ]:
type(x)

list

**2.   Using the `list()` constructor:**<br>
You can create a list by calling the `list() `constructor with an iterable as its argument.

In [ ]:
x = list(('a', 25, 'dog', 8.43))
print(x)
type(x)

['a', 25, 'dog', 8.43]

list

**3.   List comprehension:**<br>
You can create a list using a list comprehension, which is a concise way to create lists based on existing iterables.

In [ ]:
my_list = [y for y in range(1, 6)]
print(my_list)

[1, 2, 3, 4, 5]

**4.   Using the `*` operator:**<br>
You can create a list with a repeated value using the `*` operator.

In [ ]:
my_list = [13] * 5
print(my_list)

[13, 13, 13, 13, 13]

**5. Appending values using a loop:**<br>
You can create a `list` by `appending` values to an empty list using a `loop`.

In [ ]:
my_list = []
for i in range(1, 6):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
my_list.append(4)
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 5]
my_list.insert(0, 50)
print(my_list)

[50, 1, 2, 3, 5]

In [ ]:
my_string = "one two three four five"
my_list = my_string.split()
print(my_list)

['one', 'two', 'three', 'four', 'five']

`my_list[i]` gets the value at index i,<br>
`my_list[i] = y` sets the value at index i to be y.

In [ ]:
x = ['a', 25, 'dog', 8.43]

In [ ]:
print((x[0], x[3]))

('b', 8.43)

In [ ]:
x[0] = 'b'
print(x)

['b', 25, 'dog', 8.43]

# CLASS TASK - 1 <br>
**Please make a simple list** and do following exercises: <br>
`[] or list()` creates an empty list,<br>
`my_list[i]` gets the value at index i,<br>
`my_list[i] = y `sets the value at index i to be y.<br>
`len(my_list)` gets the length of the list,<br>
`my_list.append(y)` appends the value y to the list,<br>
`my_list.insert(i,y)` inserts the value y at index i,<br>
`del my_list[i]` removes the value at index i, <br>
`my_list.remove(y)` removes by value, not by index,<br>
`my_list.clear() `clears the list<br>
`For y in my_list:` iterates over the list<br>
`my_list.extend(list1)` appends list1 to the end of my_list,<br>
`my_list.index(y) `returns the index of the first element with value y,<br>
`my_list.reverse() `reverses the elements of the list.

In [ ]:
a= list()
b= [1,2,3,4,5]
b

[1, 2, 3, 4, 5]

In [ ]:
y= b [1]
y

2

In [ ]:
len(b)
b

[1, 2, 3, 4, 5]

In [ ]:
b.append(7)
b

[1, 2, 3, 4, 5, 7]

In [ ]:
b.insert(1,9)
b

[1, 9, 2, 3, 4, 5, 7]

In [ ]:
del b[2]
b

[1, 9, 3, 4, 5, 7]

In [ ]:
b.remove(3)
b

[1, 9, 4, 5, 7]

In [ ]:
for y in b :
  y

In [ ]:
a= [9,8]
b.extend(a)
b

[1, 9, 4, 5, 7, 9, 8]

In [ ]:
b= [1,2,3,4,5]
j= b.index(5)
j

4

In [ ]:
b=[1,2,3,4,5]
r=b.reverse()
r

In [ ]:
b.clear()
b

[]

# Exercise: Dictionaries
Create a dictionary in Python then find the correct Python code for operations supported by dictionaries. For example:

`{}` or `dict()` creates an empty dictionary.

In [ ]:
# Using curly braces {}
my_dict = {'apple': 2, 'banana': 3, 'orange': 1}
print(my_dict)

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
type(my_dict)

dict

In [ ]:
# Using dict() constructor
my_dict = dict(apple=2, banana=3, orange=1)
print(my_dict)

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
print(len(my_dict))  # Output: 3
print(my_dict['banana'])  # Output: 3

3
3

In [ ]:
my_dict['pear'] = 4
print(my_dict)  # Output: {'apple': 2, 'banana': 3, 'orange': 1, 'pear': 4}

{'apple': 2, 'banana': 3, 'orange': 1, 'pear': 4}

In [ ]:
del my_dict['orange']
print(my_dict)  # Output: {'apple': 2, 'banana': 3, 'pear': 4}

{'apple': 2, 'banana': 3, 'pear': 4}

In [ ]:
print('apple' in my_dict)  # Output: True
print(my_dict.keys())  # Output: dict_keys(['apple', 'banana', 'pear'])
print(my_dict.values())  # Output: dict_values([2, 3, 4])
print(my_dict.items())  # Output: dict_items([('apple', 2), ('banana', 3), ('pear', 4)])

True
dict_keys(['apple', 'banana', 'pear'])
dict_values([2, 3, 4])
dict_items([('apple', 2), ('banana', 3), ('pear', 4)])

In [ ]:
# Let's create the dictionary from the video lecture:
dct = {'pork':25.3,'beef':33.8,'chicken':22.7}
print(dct['pork'])
# What if we need to increase the weight of each of the meats by 3kg:
for k in dct:
  dct[k]=dct[k]+3

print(dct)

25.3
{'pork': 28.3, 'beef': 36.8, 'chicken': 25.7}

# CLASS TASK - 2 <br>
**Please make a simple Dictionary** and do following exercises: <br>
`{}` or `dict()` creates an empty dictionary.<br>
`my_dict[k]` or `my_dict.get(k)` gets the value for key k,<br>
`my_dict[k] = y` sets the value for key k to be y,<br>
k in my_dict checks whether the dictionary contains the key k,<br>
`len(my_dict)` gets the size of the dictionary,<br>
`del my_dict[k]` or `my_dict.pop(k)` removes the key k and its value,<br>
`my_dict.clear()` clears the dictionary,<br>
`for k in my_dict:` iterates over the keys,<br>
`for x in my_dict.values():` iterates over the values,<br>
`for k, y in my_dict.items():` iterates over the key/value pairs.

In [4]:
my_dict = {}

In [7]:
my_dict.update({"grape": 4})

In [8]:
"banana" in my_dict

False

In [11]:
len(my_dict)

0

In [10]:
del my_dict["grape"]

In [12]:
my_dict.clear()

In [17]:
for key in my_dict:
     print(key)

In [18]:
for value in my_dict.values():
   print(value)

In [19]:
for key, value in my_dict.items():
    print(key, value)

In [22]:
my_dict.clear()

# Exercise: Sets
Create a set in Python then find the correct Python code for operations supported by sets. For example:

`set()` creates an empty set (**Note**: `{}` creates and empty `dict`).

In [ ]:
my_set = set((1,2))
print(my_set)

{1, 2}

In [ ]:
my_set = set({1,2})
print(my_set)

{1, 2}

In [ ]:
# Using curly braces {}
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [ ]:
# Empty Set
my_set1 = set()
# Set with initial values
my_set1 = {10, 20, 30, 40, 50}

In [ ]:
print(my_set1)

{50, 20, 40, 10, 30}

In [ ]:
# Add a single element
my_set1.add(4) # Add a single element
print(my_set1)

{50, 20, 4, 40, 10, 30}

In [ ]:
# Add multiple elements
my_set1.update([5, 6, 7])
print(my_set1)

{4, 5, 6, 7, 10, 20, 40, 50}

In [ ]:
my_set1.remove(40) # Remove a specific element
print(my_set1)

{4, 5, 7, 10, 20, 50}

In [ ]:
# Remove an element, if present
my_set1.discard(600)
print(my_set1)

{4, 5, 7, 10, 20, 50}

In [ ]:
# Remove and return an arbitrary element
my_set1.pop()
print(my_set1)

{5, 7, 10, 20, 50}

In [ ]:
# Remove all elements
my_set1.clear()
print(my_set1)

set()

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union of sets
set3 = set1.union(set2)
print("Set3 =", set3)

# Intersection of sets
set4 = set1.intersection(set2)
print("Set4 =", set4)

# Difference of sets
set5 = set1.difference(set2)
print("Set5 =", set5)

# Symmetric Difference of sets (remove commons)
set6 = set1.symmetric_difference(set2)
print("Set6 =", set6)

Set3 = {1, 2, 3, 4, 5, 6}
Set4 = {3, 4}
Set5 = {1, 2}
Set6 = {1, 2, 5, 6}

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Check if an element is in the set
print(3 in my_set)

# Check if an element is not in the set
print(6 not in my_set)

True
True

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 | set2) #union
print(set1 & set2) #intersection
print(set1 - set2 ) #difference
print(set2 - set1)
print(set1 ^ set2) #Symmetric difference - Remove elements common to both sets
print(1 in set1)
print(5 in set1)

{1, 2, 3, 4}
{2, 3}
{1}
{4}
{1, 4}
True
False

In [ ]:
set1.add(5)
print(set1)

{1, 2, 3, 5}

In [ ]:
set1.remove(2)
print(set1)

{1, 3, 5}

In [ ]:
#Initialize a set with values:
set_values = {1, 2, 3}

#Initialize an empty set:
set_empty = set()

#Add multiple values to a set:
set_empty.update([1, 2, 3])

#Check if a set is a subset of another:
set1 = {1, 2}
set2 = {1, 2, 3}
set1 < set2 # True
set2 < set1 # False

#Check if two sets have a non-empty intersection:
set1 & set2 # {1, 2}
set1.isdisjoint(set2) # False

#Clear a set of all values:
set1.clear()
set1 # set()

#Delete a set entirely:
del set1

# CLASS TASK - 3
Please make a simple Set and do following exercises:<br>
`set()` creates an empty set,<br>
`y in my_set` checks if the set contains y,<br>
`len(my_set) `gets the size of the set,<br>
`my_set.add(y) `inserts y into the set if not already present,<br>
`my_set.remove(y) `removes y from the set if present,<br>
`my_set.clear()` clears the set,<br>
`for k in my_set:` iterates over the set.

In [1]:
my_set = set()

In [3]:
my_set.add(9)

In [4]:
9 in my_set

True

In [5]:
len(my_set)

1

In [6]:
my_set.add(2)

In [8]:
my_set.remove(2)

In [9]:
my_set.clear

Write a Python function to compute and return the union of two sets. Then do the same for the intersection of two sets.

In [ ]:
def set_union(set1, set2):
    """
    Computes the union of two sets.

    Parameters:
    set1 (1,2,3): The first set.
    set2 (3,4,5): The second set.

    Returns:
    set: The union of set1 and set2.
    """
    return 


def set_intersection(set1, set2):
    """
    Computes the intersection of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The intersection of set1 and set2.
    """
    return

In [15]:
#union of sets
def set_union(set1, set2):
    """
    Computes the union of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The union of set1 and set2.
    """
    return set1 | set2
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set_union(set1, set2)
print(union_set)

{1, 2, 3, 4, 5}

In [16]:
#intersection of set
def set_intersection(set1, set2):
    """
    Computes the intersection of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The intersection of set1 and set2.
    """
    return set1 & set2

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set_intersection(set1, set2)
print(intersection_set)

{4, 5}

Use above methods and print something and try idiot-proofing your code

In [ ]:
def union(set1, set2):
  if not isinstance(set1, set) or not isinstance(set2, set): 
    raise TypeError("Arguments must be sets")
  return set1 | set2

def intersection(set1, set2):
  if not isinstance(set1, set) or not isinstance(set2, set):
    raise TypeError("Arguments must be sets")
  return set1 & set2

#Now if we pass in values that aren't sets, we'll get a helpful TypeError instead of confusing errors:

In [17]:
def set_union(set1, set2):
    """
    Computes the union of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The union of set1 and set2.
    """
    if not isinstance(set1, set) or not isinstance(set2, set):
        raise TypeError("Both inputs must be sets.")
    return set1 | set2

def set_intersection(set1, set2):
    """
    Computes the intersection of two sets.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    set: The intersection of set1 and set2.
    """
    if not isinstance(set1, set) or not isinstance(set2, set):
        raise TypeError("Both inputs must be sets.")
    return set1 & set2

# Example usage
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Compute the union of the two sets
union_set = set_union(set1, set2)
print("The union of set1 and set2 is:", union_set)

# Compute the intersection of the two sets
intersection_set = set_intersection(set1, set2)
print("The intersection of set1 and set2 is:", intersection_set)

# Try to pass invalid inputs to the set_union function
try:
    set_union(set1, [4, 5, 6])
except TypeError as e:
    print("Error:", e)

The union of set1 and set2 is: {1, 2, 3, 4, 5, 6, 7, 8}
The intersection of set1 and set2 is: {4, 5}
Error: Both inputs must be sets.

In [ ]:
#union([1, 2, 3], 4) # Raises TypeError

# Discussion: Shopping List?
Could be a `dictionary`, `list`, `tuple` or `set`. Suggest pros and cons of each with examples.

In [19]:
#pros 
#In a dictionary each item of a list can be related to the information added afterwards like price, quantity and helps to find specific item more easily
#cons
#They are unordered and difficult to work with compared to simpler Data stucture like list and tuples
shop_dict = {
    "apples": {"quantity": 5, "price": 1.99},
    "bananas": {"quantity": 2, "price": 0.99},
    "bread": {"quantity": 1, "price": 2.99}
}

In [20]:
#pros
#LIST is ordered and easy to work and change
#cons
#can only store simple data types like strings or numbers
shopping_list = ["table", "chair", "bottle"]

# Stacks
There isn't a native stack or queue function in Python so to create these ADTs you need to use a suitable type. Using a `list` as a proxy write functions to `push`, `peek` and `pop` from a `stack`. <br>
Hint: `Lst.pop(2)` pops the 3rd element from the list `Lst`.

In [22]:
# Write your code here: 
def push(Lst,x):
  Lst.append(x)
  return Lst

def peek(Lst):

  return c

def pop(Lst):

  return c

# Queues
Now that you've set up stacks try and do the same for queues:

In [ ]:
# Write your code here: 
def enqueue(Lst,x):


  return Lst

def peek(Lst):

  return c

def dequeue(Lst):

  return c

# Priority Queue

Try now to write a Priority Queue function using a suitable ADT

In [ ]:
queue = {}

def add(item, priority):
  queue[priority] = item

def pop():
  priority, item = sorted(queue.items(), key=lambda x: x[0])[-1]
  del queue[priority]
  return item

In [ ]:
add("Medicine", 3)
add("Apple", 2)
add("Movie Disk", 1)
print(queue)

{3: 'Medicine', 2: 'Apple', 1: 'Movie Disk'}

In [ ]:
pop()
print(queue)

{2: 'Apple', 1: 'Movie Disk'}

# Do scratch implementation of union & intersection using sets

In [ ]:
#Your code here

Explain how two stacks can be used to implement a queue with all relevant operations. Note this is a popular interview question.

Hint: use one stack for ‘arrivals’ and the other for ‘departures’.

In [ ]:
# Your code here
left_stack = []
right_stack = []

def enqueue(item):
  left_stack.append(item)

def dequeue():
  if not right_stack:
    while left_stack:
      right_stack.append(left_stack.pop())
  return right_stack.pop()

In [ ]:
enqueue(5)
enqueue(6)
enqueue(7)
print(left_stack)

In [ ]:
print(right_stack)

[7, 6]

# Opeartors

In [ ]:
print(1 + 2) # 3
print(8 - 3) # 5
print(2 * 4) # 8
print(10 / 2) # 5.0
print(19 // 6) # 3
print(10 % 2) # 0
print(2 ** 3) # 8
print(19 // 7) # 2
print(19 % 6) # 1

3
5
8
5.0
3
0
8
2
1

In [ ]:
print(bin(0b1010 & 0b1100)) # AND - Sets each bit to 1 if both bits are 1
print(bin(0b1010 | 0b1100)) # OR - Sets each bit to 1 if one of two bits is 1
print(bin(~0b1010)) # 1010-> 0101 == 1010 + 1 = 1011 ( x = -x-1) [BITWISE-NOT]
##Performs logical NOT on a bit-by-bit basis, inverting each bit so that 0 becomes 1 and 1 becomes 0. Same as -x-1.

print(bin(0b1010 ^ 0b1100)) # XOR - Sets each bit to 1 if only one of two bits is 1

print(bin(0b1010 << 2)) #BITWISE-LEFT "Left shifting means adding zeros on the right and letting the leftmost bits fall off."
print(bin(0b1010 >> 3)) #BITWISE-RIGHT "Right shifting means adding copies of the leftmost bit on the left and letting the rightmost bits fall off."

0b1000
0b1110
-0b1011
0b110
0b101000
0b1

In [ ]:
# Bitwise AND example
a = 0b1010
b = 0b1100
result = a & b
print(bin(result))  # Output: 0b1000

0b1000

# Play with bitwise operators...

In [ ]:
#Your code here

# THE END